*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.carrusel{
    width: 100%;
}

.carrusel .grande{
    width: 300%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    transition: all .5s ease;
    transform: translateX(0%);
}

.carrusel .img{
    width: calc(100%/3);
    background-color: purple;
    height: 160px;
    min-height: 10vh;
}

.carrusel .puntos{
    width: 100%;
    color: transparent;
    cursor: pointer;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrusel .punto{
    width: 1em;
    height: 1em;
    background-color: white;
    opacity: 20%;
    border-radius: 50%;
    margin: -2em .5em 0;
}

.carrusel .punto.activo{
    background-color: orange;
    opacity: 99%;
}

.navbar{
    width: 100%;
    height: 30px;
    background-color: aqua;
}

.navbar .info{
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items: center;
}

.navbar .elemento{
    font-size: 1.1em;
    margin: 0 1em 0;
}

.experience{
    margin: 1em 1em 1em;
    padding: .5em 1em 1em;
    background-color: yellowgreen;
}

.experience .titulo-e{
}

.experience .proyecto{
    background-color: blue;
    margin: 1em .5em 0;
    padding: 1em;
}

.experience .titulo-proyecto{
    text-align: center;
}

.experience .datos{
    margin: 1em 0 0;
}

.experience .dato{
}

.experience .sublista{
    margin: .1em 2.5em 0;
}

.experience .photo{
    width: 50%;
    height: 170px;
    float: right;
    object-fit:scale-down;

    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items: center;
}

.about{
    margin: 1em 1em 1em;
    padding: .5em 1em 1em;
    background-color: pink;
}

.about .titulo-a{

}

.about .personal1{
    margin: 1em .5em 0;
    padding: 1em;
    background-color: orange;
}

.about .fotoPerfil{
    width: 70px;
    float: left;
}

.about .fabros{
}

.about .fabro{
    padding: 1em;
}

.personal2{
    padding: .5em;
}

.personal2 .obj-titulo{
    text-align: center;
    padding: .5em;
}

.personal2 .obj-parrafo{
    
}

.skills{
    min-height: 10em;
    margin: 1em 1em 1em;
    padding: .5em 1em 1em;
    background-color: bisque;
}

.skills .titulo-s{

}

.skills .barras{
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.skills .barra{
    width: 100%;
    height: 4.5em;
    color: black;
    background-color: white;
    opacity: 100%;
    margin: 1em 2em 0;
    text-align: center;
}

.skills .patas{
    
}

.skills .pata{
    margin: 0 .4em 0;
}

.contac{
    margin: 1em;
    padding: .5em 1em 1em;
    background-color: darkseagreen;
}

.contac .titulo-c{

}

.contac .parrafito{
    padding: 1em;
}

.contac .cuadro{
    background-color: firebrick;
}

.contac .tituloF{
    text-align: center;
    padding: 1em;
}

.contac .formulario{
    padding: 0 1em 1em;
}

.contac .caja{
    display: block;
    height: 25px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 2px;
}

#mensaje{
    height: 50px;
    margin: -15% 0 0;
    float: right;
}

.contac .boton{
    margin-top: 1em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#enviar{
    width: 7em;
    height: 3em;
}

.contac .redes{
    margin: 1em 1em 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.contac .contactos{

}

.contac .contacto{
    margin: 0 1.5em 0;
}