*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background-color: black;
}

.carrusel{
    width: 100%;
}

.carrusel .grande{
    width: 300%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    transition: all .5s ease;
    transform: translateX(0%);
}

.carrusel .img{
    width: calc(100%/3);
    min-height: 10vh;
}

.carrusel .puntos{
    width: 100%;
    color: transparent;
    cursor: pointer;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrusel .punto{
    width: 1em;
    height: 1em;
    background-color: white;
    opacity: 20%;
    border-radius: 50%;
    margin: -2em .5em 0;
}

.carrusel .punto.activo{
    background-color: white;
    opacity: 99%;
}

.navbar{
    margin-top: .5em;
    border-radius: 10%;
    width: 100%;
    height: 30px;
    background-color: rgb(165, 74, 74);
    border: 1px solid white;
    opacity: 50%;
}

#link{
    opacity: 100%;
    color: white;
    text-decoration: none;
}

.navbar .info{
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items: center;
}

.navbar .elemento{
    font-size: 1.1em;
    margin: 0 1em 0;
}

.experience{
    margin: 1em 1em 1em;
    padding: .5em 1em 1em;
    border-radius: 10px;
    background-color: rgb(165, 74, 74);
    border: 1px solid white;
}

.experience .titulo-e{
    color: white;
}

.experience .proyecto{
    display: block;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    margin: 1em .5em 0;
    padding: 1em;
}

.experience .titulo-proyecto{
    text-align: center;
}

.experience .datos{
    margin: 1em 0 0;
}

.experience .sublista{
    margin: .1em 2.5em 0;
}

.experience .photo{
    width: 50%;
    height: 170px;
    float: right;
    object-fit:scale-down;

    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items: center;
}

.about{
    margin: 1em 1em 1em;
    padding: .5em 1em 1em;
    border-radius: 10px;
    background-color: rgb(165, 74, 74);
    border: 1px solid white;
}

.about .titulo-a{
    color: white;
}

.about .personal1{
    margin: 1em .5em 0;
    padding: 1em;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
}

.about .fotoPerfil{
    width: 70px;
    border: 2px solid black;
    border-radius: 10px;
    float: left;
}

.about .fabros{
}

.about .fabro{
    padding: 1em;
}

.personal2{
    padding: .5em;
}

.personal2 .obj-titulo{
    text-align: center;
    padding: .5em;
    color: white;
}

.skills{
    min-height: 10em;
    margin: 1em 1em 1em;
    padding: .5em 1em 1em;
    border-radius: 10px;
    background-color: rgb(165, 74, 74);
    border: 1px solid white;
}

.skills .titulo-s{
    color: white;
}

.skills .barras{
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.skills .barra{
    width: 100%;
    height: 4.5em;
    color: black;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 100%;
    margin: 1em 2em 0;
    text-align: center;
}

.skills .patas{
    
}

.skills .pata{
    margin: 0 .4em 0;
}

.contac{
    margin: 1em;
    padding: .5em 1em 1em;
    border-radius: 10px;
    background-color: rgb(165, 74, 74);
    border: 1px solid white;
}

.contac .titulo-c{
    color: white;
}

.contac .parrafito{
    padding: 1em;
}

.contac .cuadro{
    background-color: firebrick;
    border-radius: 10px;
    border: 2px solid black;
}

.contac .tituloF{
    font-size: 1.5em;
    text-align: center;
    padding: .5em;
    color: white;
}

.contac .formulario{
    padding: 0 2.2em 1em;
}

.contac .caja{
    display: block;
    width: 300px;
    height: 25px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 2px;
    text-align: center;
}

#mensaje{
    height: 50px;
}

.contac .boton{
    margin-top: 1em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#enviar{
    width: 7em;
    height: 3em;
}

.contac .redes{
    margin: 1em 1em 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.contac .contactos{

}

.contac .contacto{
    margin: 0 1.5em 0;
}


@media(min-width: 768px){
    .carrusel .punto{
        width: 1.3em;
        height: 1.3em;
    }

    .carrusel .img{
        max-height: 43vh;
    }

    .navbar .elemento{
        font-size: 1.4em;
    }

    .experience .titulo-e{
        font-size: 2.5em;
    }

    .experience .titulo-proyecto{
        font-size: 2em;
    }

    .experience .dato{
        font-size: 1.2em;
    }

    .about .titulo-a{
        font-size: 2.5em;
    }

    .about .fotoPerfil{
        width: 80px;
    }

    .about .fabro{
        font-size: 1.2em;
    }

    .skills .titulo-s{
        font-size: 2.5em;
    }

    .contac .titulo-c{
        font-size: 2.5em;
    }

    .personal2 .obj-titulo{
        font-size: 1.5em;
    }
    
    .personal2 .obj-parrafo{
        font-size: 1.2em;
    }

    .skills .barra{
        height: 9em;
    }
    
    .skills .pata{
        font-size: 1.3em;
        margin: 0 1.6em 0;
    }

    .contac .parrafito{
        font-size: 1.2em;
    }
    .contac .tituloF{
        font-size: 2em;
    }
    
    .contac .formulario{
        padding: 0 12em 1em;
    }

    #enviar{
        font-size: 1em;
    }

    .contac .redes{
        
    }
    
    .contac .contacto{
        font-size: 1.2em;
        margin: 0 1.7em 0;
    }
}